In [2]:
import seaborn as sn

In [3]:
df = sn.load_dataset('iris')

In [4]:
import numpy as np

In [5]:
df.groupby('species').agg(['median', 'mean', 'min', 'max', 'std'])

           sepal_length                            sepal_width              \
                 median   mean  min  max       std      median   mean  min
species
setosa              5.0  5.006  4.3  5.8  0.352490         3.4  3.428  2.3
versicolor          5.9  5.936  4.9  7.0  0.516171         2.8  2.770  2.0
virginica           6.5  6.588  4.9  7.9  0.635880         3.0  2.974  2.2

                          petal_length                            petal_width  \
            max       std       median   mean  min  max       std      median
species
setosa      4.4  0.379064         1.50  1.462  1.0  1.9  0.173664         0.2
versicolor  3.4  0.313798         4.35  4.260  3.0  5.1  0.469911         1.3
virginica   3.8  0.322497         5.55  5.552  4.5  6.9  0.551895         2.0


             mean  min  max       std
species
setosa      0.246  0.1  0.6  0.105386
versicolor  1.326  1.0  1.8  0.197753
virginica   2.026  1.4  2.5  0.274650

In [6]:
df.groupby('species')['sepal_length'].agg(['median', 'mean', 'min', 'max', 'std'])

            median   mean  min  max       std
species
setosa         5.0  5.006  4.3  5.8  0.352490
versicolor     5.9  5.936  4.9  7.0  0.516171
virginica      6.5  6.588  4.9  7.9  0.635880

In [7]:
df.groupby('species')['sepal_length'].apply(list)

species
setosa        [5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.6, 5.0, 4.4, ...
versicolor    [7.0, 6.4, 6.9, 5.5, 6.5, 5.7, 6.3, 4.9, 6.6, ...
virginica     [6.3, 5.8, 7.1, 6.3, 6.5, 7.6, 4.9, 7.3, 6.7, ...
Name: sepal_length, dtype: object

In [11]:
species = df['species'].unique()
for name in species:
    print(f'Species: {name}')
    print(df[df['species'] == name].describe())
    print()

Species: setosa
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000    50.000000
mean        5.00600     3.428000      1.462000     0.246000
std         0.35249     0.379064      0.173664     0.105386
min         4.30000     2.300000      1.000000     0.100000
25%         4.80000     3.200000      1.400000     0.200000
50%         5.00000     3.400000      1.500000     0.200000
75%         5.20000     3.675000      1.575000     0.300000
max         5.80000     4.400000      1.900000     0.600000

Species: versicolor
       sepal_length  sepal_width  petal_length  petal_width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000

Species: virginica
       sepal_length  sepal_width  petal_length  petal_width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000